.images{
border-radius: 50%;
position: absolute;
    height: auto;
    left: 25%;
    top: 50%;
}

.Description {
    padding: 5px;
    width: 500px;
    word-wrap: break-word;

    position: absolute;
    height: auto;
    left: 45%;
    top: 10%;
}

.ProfileName {
    background-color: #74D8A2;
    color: white;
}

.BottonToTrip {
    position: absolute;
    height: auto;
    left: 53%;
    top: 30%;
    border-radius: 12px;
    background-color: #74D8A2;
    border: 2px solid #20703C;
}
