.contenitore {
    display: flex;
    justify-content: center;
    
}

.images{
border-radius: 50%;
    height: auto;
    margin: 20px 100px 15px 30px;  
}

.Description {
    padding: 5px;
    width: 500px;
    word-wrap: break-word;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 30px 15px 30px;
}

.ProfileName {
    background-color: #74D8A2;
    color: white;
}

.ButtonToTrip {
    height: auto;
    border-radius: 12px;
    background-color: #74D8A2;
    border: 2px solid #20703C;
    width: 250px;
}

